# config/database.yml
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: protospace_development
  username: root
  password: password
  host: localhost

test:
  <<: *default
  database: protospace_test
  username: root
  password: password
  host: localhost

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
